
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model CSIDContext

<table class="table table-striped">
    <tr>
        <th style="text-align:left" class="align-middle"><h2>Item Description</h2></th>
        <th style="text-align:center" class="align-middle"><h2>Item Price</h2></th>
        <th style="text-align:center" class="align-middle"><h2>Quantity</h2></th>
        <th style="text-align:center" class="align-middle"><h2>Total</h2></th>
       
    </tr>

    @foreach (CartItems items in Model.CartItems )
    {
<tr>
    <td style="text-align:left" class="align-middle">@items.Description</td>
    <td style="text-align:center" class="align-middle">$@items.CustomerDiscountPrice</td>
    <td style="text-align:center" class="align-middle"></td>
    <td style="text-align:center" class="align-middle"><img src="https://media.timeout.com/images/100893385/630/472/image.jpg" width="60" height="60" /></td>
</tr>
    }
</table>